@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-ubuntu: var(--font-ubuntu);
  --font-orbitron: var(--font-orbitron)
    /* Deep Navy: Use for primary headings and main brand identity */
    --color-trust: #0f172a;

  /* Construction Gold: Use for buttons, highlights, and 'span' text */
  --color-gold: #f59e0b;

  /* Action Red: Use ONLY for urgent buttons like "Call Now" or "Book Visit" */
  --color-action: #dc2626;

  /* === TEXT HIERARCHY === */
  /* Main Body: Easy to read, not harsh black */
  --color-text-body: #334155;

  /* Muted: For short descriptions and secondary info */
  --color-text-muted: #64748b;

  /* Light: For small details, timestamps, or borders */
  --color-text-light: #94a3b8;

  /* Backgrounds */
  --color-bg-surface: #f8fafc;

  /* laptop */
  --text-heading-lg-1: 3.75rem;
  --text-heading-lg-2: 3.5rem;
  --text-heading-lg-3: 3rem;
  --text-heading-lg-4: 2rem;
  --text-para-lg-1: 1.5rem;
  --text-para-lg-2: 0.95rem;

  /* Tab  */
  --text-heading-tab-1: 3.3rem;
  --text-heading-tab-2: 3rem;
  --text-heading-tab-3: 2.55rem;
  --text-heading-tab-4: 2.2rem;
  --text-para-tab-1: 1.45rem;
  --text-para-tab-2: 1.2rem;

  /* mobile */
  --text-heading-sm-1: 2.25rem;
  --text-heading-sm-2: 2rem;
  --text-heading-sm-3: 1.5rem;
  --text-heading-sm-4: 1.3rem;

  --text-para-sm-1: 1.1rem;
  --text-para-sm-2: 0.95rem;
}

body {
  font-family: var(--font-poppins);
}

.logo {
  letter-spacing: 0.2em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 480px) {
  .logo {
    letter-spacing: 0.1rem;
  }
}
